body {
	background-image: url("../images/background.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}
.navbar li {
	font-size: 1.5em;
}

.about-context {
	padding: 2em;
}

.about-context p{
	text-align: left;
	padding: 0.5em;
}

.about-context h3 {
	text-align: center;
}

.skills{
	width: 40%;
	text-align: left;
}

.aboutpage-container h1 {
	font-size: 3em;
}
